<div class="row">
<div class="col-md-3"></div> 
<div class="col-md-6">
<div class="well">
<h2>Sign up</h2>
<hr>

<%= render 'shared/signup' %>

  <div class="row">
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <br />
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-md-3"></div>
</div>
