<div id="competitions_index" class="panel scroll">
  <div class="panel-heading">
    <h3 class="panel-title">Information for active competitions</h3>
  </div>
  <div class="panel-body">        
    {{#link-to "competitions.create" class="btn btn-success btn-block"}}
      <i class="fa fa-plus fa-2x"></i><br>
      Click here to start a new Competition
    {{/link-to}}
    <h2 class="featurette-heading">Competitions are the <span class="text-muted">best way to get great results</span></h2>
    <img src="/assets/pushup.png" alt="competitions" class="img-rounded img-responsive">

    <hr>

    <p class="lead"><strong>Competitions</strong> will motivate you to workout harder than you have ever been motivated before.</p>
    <p class="text-warning">There can only be one winner!</p>
  </div>
</div>


