<div class="well">
  <div class="row">
    <div class="col-sm-6">
      <img src="/assets/pushup.png" alt="competitions" class="img-rounded img-responsive">
    </div>
    <div class="col-sm-6 gray-background">
      <br>
      <div class="well">
        {{#link-to "competitions.create" class="btn btn-success btn-block"}}
          <i class="fa fa-plus fa-2x"></i><br>
          New Competition
        {{/link-to}}
      </div>
      <h2 class="featurette-heading"></h2>
      <p class="lead">Competitions are the <strong>best way to get great results</strong>. They will motivate you to workout harder than you have ever been motivated before.</p>
      <p class="lead text-success">Select a competition from the left to join</p>
      <p class="text-warning">There can only be one winner!</p>
    </div>
  </div>
</div>

