{{#each userExercise in collection}}
  <div class="list-group">
    {{#link-to 'user_exercises.user_exercise' userExercise class="list-group-item"}}
      <dl>
        <dt>{{userExercise.exercise.name}}</dt>
        <dd>{{time userExercise.createdAt}}</dd>
        <dd>{{userExercise.value}} {{userExercise.exercise.metric.measurement}}</dd>
      </dl>
    {{/link-to}}
  </div>
{{/each}}