<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Activities</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="featurette-heading">Look at your workout history here</h2>
        <p class="lead">Select an activity to the left to see specific information</p>
        <p class="lead text-success">Or look at the calendar below</p>
      </div>

      <div class="col-sm-6">
        <img src="/assets/exercise.jpg" alt="competitions" class="img-rounded img-responsive">
      </div>
    </div>
  </div>
</div>