<div class="panel">
  <div class="panel-body">
    <h1 class="text-center">Website Tutorials</h1>
    <hr>
    <h4 class="text-center">Sign Up Tutorial</h4>
    <p class="text-center"><embed src="<%= asset_path('signup.swf') %>" width="640" height="480"/></p>

    <h4 class="text-center">Login Tutorial</h4>
    <p class="text-center"><embed src="<%= asset_path('login.swf') %>" width="640" height="480"/></p>

    <h4 class="text-center">Dashboard Tutorial</h4>
    <p class="text-center"><embed src="<%= asset_path('dashboard.swf') %>" width="640" height="480"/></p> 

    <br>
    <h1 class="text-center">IOS Tutorials</h1>
    <hr>
  </div>
</div>