<h4>Available Exercises</h4>
<p>We want you to be able to compete in the exercises that <strong>benefit you the most</strong>. We are frequently adding new exercises that you can compete in.</p>
<p class="text-info">Here is a list of currently available exercises</p>
<ul class="nav">
  {{render exercises}}
</ul>