<h1>Activities</h1>
{{#if isCurrentUser}}
  {{#linkTo "activities.create" class="btn btn-lg btn-success btn-block"}}New Activity{{/linkTo}}
{{/if}}
<hr>
<div class="row">
  <div class="col-sm-4">
    <ul class="nav">
    {{#each controller}}
      <li>{{#linkTo "activity" this}}{{date createdAt}} - {{exercise.name}}{{/linkTo}}</li>
    {{else}}
      <li>There are no activities.</li>
    {{/each}}
    </ul>
  </div>
  <div class="col-sm-8">
    {{outlet}}
  </div>
</div>