<h3>Activities</h3>
<p>Log your activities to <strong>win your competitions and challenges</strong>. You don't want to be the weakest link!</p>
<p class="text-warning">Don't overdue it! We all need to rest once in a while</p>
<hr>
{{#if isCurrentUser}}
  {{#link-to "activities.create" name="New Activity" class="btn btn-success"}}New Activity{{/link-to}}
{{/if}}

<br />
<br />
{{outlet}}

<hr>
<h4>Recent Activity</h4>
<ul id="recent_activity"class="nav">
  {{#each controller}}
    <li>{{#link-to "activity" this}}{{date createdAt}} - {{this.exercise.name}}{{/link-to}}</li>
  {{else}}
    <li>No activities logged yet</li>
  {{/each}}
</ul>


