{{resource-header title="Challenges" link="challenges.create"}}
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        {{#link-to 'challenges'}}<h3 class="panel-title">Active Challenges</h3>{{/link-to}}
      </div>
      <div class="list-group">
        {{#each controller}}
          {{#unless isDirty}}
            {{#link-to "challenge" this class="list-group-item"}}{{name}}{{/link-to}}
          {{/unless}}
        {{else}}
          <a href="#" class="list-group-item">There are no challenges.</a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-md-9">
    {{outlet}}
  </div>
</div>



