<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Active Competitions</h3>
      </div>
      {{#link-to "competitions.create" class="btn btn-success btn-block"}}New Competition{{/link-to}}
      <div class="list-group">
        {{#each controller}}
          {{#unless isDirty}}
            {{#link-to "competition" this class="list-group-item"}}{{name}}{{/link-to}}
          {{/unless}}
        {{else}}
          <a href="#" class="list-group-item">There are no competitions.</a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-md-9">
    {{outlet}}
  </div>
</div>


