<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Custom Exercises</h3>
      </div>
      {{#link-to "customExercises.create" class="btn btn-success"}}New Exercises{{/link-to}}
      <div class="list-group">        
        {{#each controller}}
          {{#link-to "customExercise" this class="list-group-item"}}{{this.name}}{{/link-to}}
        {{else}}
          <div class="list-group-item">You haven't created any exercises yet.</div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    {{outlet}}
  </div>
</div>