<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Custom Exercise Details</h3>
  </div>
  <div class="panel-body">        
    <a href="#" class="btn btn-danger pull-right" {{action "delete" this}}>Delete</a>
    <h2>{{name}}</h2>
    <p>{{metric.name}}</p>
    <p>Created At: {{date createdAt}}</p>
  </div>
</div>