{{#if view.model.isSuccess}}
  <div class="alert alert-success">
    {{view.message}}
  </div>
{{/if}}

{{#if view.model.isInfo}}
  <div class="alert alert-info">
    {{view.message}}
  </div>
{{/if}}

{{#if view.model.isWarning}}
  <div class="alert alert-warning">
    {{view.message}}
  </div>
{{/if}}

{{#if view.model.isDanger}}
  <div class="alert alert-danger">
    {{view.message}}
  </div>
{{/if}}