<div class="container">
  <div class="jumbotron">
    <img src="/assets/ww-logo-large.png" class="img-responsive" />    
    <h1><p class="text-danger text-center">BETA</p></h1>
    <p>Get ready to take your fitness to the next level.</p>
  </div>

  <hr class="featurette-divider">
  <h2>Competition Hotness</h2>
  {{#each controller}}
    {{hot-item model=this}}
  {{/each}}
</div>
