<ul class="nav nav-tabs">
  <li>
    {{#link-to "profile.stats" class="list-group-item"}}Stats{{/link-to}}
  </li>
  <li>
    {{#link-to "profile.competitions" class="list-group-item"}}Competitions{{/link-to}}
  </li>
  <li>
    {{#link-to "profile.challenges" class="list-group-item"}}Challenges{{/link-to}}
  </li>
  <li>
    {{#link-to "profile.edit" class="list-group-item"}}Settings{{/link-to}}
  </li>
</ul>

{{outlet}}