<div class="row">
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        {{#link-to 'profile' currentUser}}<h3 class="panel-title">Profile</h3>{{/link-to}}
      </div>
      <div class="list-group">
        {{#link-to "activities" class="list-group-item"}}
          <span class="badge"><span class="glyphicon glyphicon-certificate"></span></span>
          Activities
        {{/link-to}}
        {{#link-to "profile.stats" class="list-group-item"}}
          <span class="badge"><span class="glyphicon glyphicon-stats"></span></span>
          Stats
        {{/link-to}}
        {{#link-to "profile.competitions" class="list-group-item"}}
          <span class="badge"><span class="glyphicon glyphicon-star"></span></span>
          Competitions
        {{/link-to}}
        {{#link-to "profile.challenges" class="list-group-item"}}
          <span class="badge"><span class="glyphicon glyphicon-star-empty"></span></span>
          Challenges
        {{/link-to}}
        {{#link-to "profile.edit" class="list-group-item"}}
          <span class="badge"><span class="glyphicon glyphicon-cog"></span></span>
          Settings
        {{/link-to}}
      </div>
    </div>
  </div>

  <div class="col-md-9">
    {{outlet}}
  </div>
</div>