<div id="users">
<h1>Users</h1>
<div class="row">
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-9">User</div>
          <div class="col-sm-3">Level</div>               
        </div>
      </div>
      <div id="user_list" class="list-group scroll">
        {{#each user in controller}}          
          {{#link-to "user" user class="list-group-item"}}
            <div class="row">
              <div class="col-sm-4">{{gravatarUrlSmall user}}</div>
              <div class="col-sm-5">{{user.handle}}</div>          
              <div class="col-sm-3">{{user.level}}</div>               
            </div>
          {{/link-to}}        
        {{/each}}
      </div>
    </div>
    <hr class="featurette-divider">
  </div>

  <div class="col-md-8">
    <div id="user" class="affix-top scroll">
    {{outlet}}
    </div>
  </div>
</div>
</div>

