<div class="row">
  <div class="col-md-3">
    <h1>Users</h1>
    <ul class="nav">
    {{#each controller}}
      <li>{{#link-to "user" this}}{{email}}{{/link-to}}</li>
    {{/each}}
    </ul>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>


