<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Accolades</h3>
  </div>

  <div id="trophy_case" class="row">
    <div class="col-sm-2"></div>
    <div  class="col-sm-8">
      <ul class="list-inline row">
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
      </ul>
      <ul class="list-inline row">
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
      </ul>
      <ul class="list-inline row">
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
      </ul>
      <ul class="list-inline row">
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
        <li class='col-sm-2'><img class="img-responsive" src='/assets/trophy.png' /></li>
      </ul>
    <div class="col-sm-2"></div>
    </div>
  </div>        
</div> 
