<div class="panel panel-info challenges-panel">
  <div class="panel-heading">
    <h3 class="panel-title">My Challenge Attemptss</h3>
  </div>
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th>Challenge</th>
          <th>Result</th>
          <th>Attempted on</th>
        </tr>
      </thead>
      <tbody>
      {{#each attempt in controller}}
      <tr>
        <td>{{attempt.challenge.name}}</td>
        <td><span class="badge">{{attempt.result}}</span></td>               
        <td><span class="badge">{{dateTime attempt.createdAt}}</span></td>
      </tr>
      {{else}}
        <tr>
          <td colspan="3">You haven't attempted any challenges yet! Go try some!</td>
      {{/each}}
      </tbody>
    </table>
</div>