<div class="panel panel-info challenges-panel">
  <div class="panel-heading">
    <h3 class="panel-title">My Challenge Attempts</h3>
  </div>
  <div class="list-group">
    {{#each attempt in controller}}
      {{#link-to "challenge" attempt.challenge class="list-group-item"}}
        {{attempt.result}} - {{attempt.challenge.description}}
      {{/link-to}}
    {{else}}
      {{#link-to "challenge" attempt.challenge class="list-group-item"}} 
        You haven't attempted any challenges yet
      {{/link-to}}
    {{/each}}
  </div>
</div>