<div class="panel panel-info challenges-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Challenges I've Completed</h3>
  </div>
  <ul class="list-group">
    {{#each controller}}
      <li class="list-group-item">
        {{#link-to "challenge" this.challenge}}
          <div class="row">
            <div class="col-md-8">
              {{this.challenge.name}}
            </div>
            <div class='col-md-4'>
              {{date this.createdAt}}
            </div>
          </div>
          
        {{/link-to}}
      </li>
    {{else}}
      <li class="list-group-item">You haven't logged any activities yet! Go log some!</li>
    {{/each}}
  </ul>
</div>