<div class="panel panel-info challenges-panel">
  <div class="panel-heading">
    <h3 class="panel-title">My Challenge Attempts</h3>
  </div>
  <ul class="list-group">
    {{#each attempt in controller}}
      <li class="list-group-item">{{attempt.result}} - {{attempt.challenge.description}}</li>
    {{else}}
      <li class="list-group-item">You haven't attempted any challenges yet</li>
    {{/each}}
  </ul>
</div>