<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">My Competitions</h3>
  </div>
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th>Competition</th>
          <th>Your Rank</th>
          <th>Current Leader</th>
        </tr>
      </thead>
      <tbody>
      {{#each comp in controller}}
          <tr>
            <td>{{#link-to "competition" comp}}{{comp.name}}{{/link-to}}</td>
            <td><span class="badge">3</span></td>               
            <td><span class="badge">John Smith</span></td>
          </tr>
      {{else}}
        <tr>
          <td colspan="3">You aren't currently in any competitions. Go join one!</td>
      {{/each}}
      </tbody>
    </table>
</div>