<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">My Competitions</h3>
  </div>
  <ul class="nav">
    {{#each comp in controller}}
      <li>{{#link-to "competition" comp}}{{comp.name}}{{/link-to}}</li>
    {{else}}
      <li class="list-group-item">You haven't joined or created any competitions!</li>
    {{/each}}
  </ul>
</div>