<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">My Competitions</h3>
  </div>
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th>Competition</th>
          <th>Your Rank</th>
        </tr>
      </thead>
      <tbody>
      {{#each compJoin in controller}}
          <tr>
            <td>{{#link-to "competition" compJoin.competition}}{{compJoin.competition.name}}{{/link-to}}</td>
            <td>{{compJoin.rank}}</td>               
          </tr>
      {{else}}
        <tr>
          <td colspan="3">You aren't currently in any competitions. Go join one!</td>
      {{/each}}
      </tbody>
    </table>
</div>