<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Information for other Users</h3>
  </div>
  <div class="panel-body">
    <p>The people are both your friend, and your enemy.They will push you to your max, but if you want to win, you've got to bring the pain. </p>
    <p class="text-success">Select one from the left to view their profile</p>
  </div>
</div>

